/* included fonts */

@font-face {
    font-family: Annapurna;
    src: url(AnnapurnaSIL-Regular.woff);
    unicode-range: U+0900-097F, U+A8E0-A8FB, U+A830-A839;
    font-style: normal;
}

@font-face {
    font-family: AnnapurnaBold;
    src: url(AnnapurnaSIL-Bold.woff);
    unicode-range: U+0900-097F, U+A8E0-A8FB, U+A830-A839;
    font-style: bold;
}

@font-face {
    font-family: GrotleyRegular;
    src: url(GrotleyRegular-mLEWv.otf);
}

@font-face {
    font-family: GrotleyItalic;
    src: url(GrotleyItalic-7BD9D.otf);
}

/* base stylings */

body {
    font-family: Annapurna, sans-serif, monospace;
    margin: 0;
    background-color: aliceblue;
    position: fixed;
    width: 100%;
}

.svg_icon {
    fill: currentColor;
    stroke: currentColor;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: GrotleyRegular, sans-serif, monospace;
    color: darkblue;
    text-transform: uppercase;
}

h1 em,
h2 em,
h3 em,
h4 em,
h5 em,
h6 em {
    font-family: GrotleyItalic, sans-serif, monospace;
}

h1 i,
h2 i,
h3 i,
h4 i,
h5 i,
h6 i {
    font-family: GrotleyItalic, sans-serif, monospace;
}

p {
    font-family: Annapurna, Optima, monospace;
}

b {
    font-family: AnnapurnaBold, Optima, monospace;
    font-style: bold;
}

strong {
    font-family: AnnapurnaBold, Optima, monospace;
    font-style: bold;
}

.top_bar {
    height: 1em;
    top: 0;
    width: 100%;
    background-color: lightslategray;
}


.bottom_bar {
    bottom: 0;
    height: 1em;
    background-color: lightslategray;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    width: 100%;
}

/* display navlist items inline */
nav#sitenav {
    top: 20px;
}

ul#navlist {
    padding-left: 1em;
    padding-right: 1em;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0.4em;
}

ul#navlist li {
    text-align: center;
}

ul#navlist li a {
    color: darkblue;
    text-transform: uppercase;
    font-family: GrotleyRegular, Optima, monospace;
    font-size: 2em;
}

ul#navlist li a:hover {
    color: cornflowerblue;
}

ul#navlist li:not(:last-child)::after {
    color: darkblue;
    font-family: Georgia;
    content: "\2039\203A";
    width: 0.66em;
    font-size: 1.5em;
    text-align: center;
    letter-spacing: -0.25em;
    margin-right: 0.5em;
    margin-left: 0.25em;
    top: -0.2em;
}

a:link {
    text-decoration: none;
}

hr.nav_hr {
    border: 0.5px solid darkblue;
}

hr.img_hr {
    border: 0.5px solid darkblue;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* style body */
.sidenav {
    width: 180px;
    left: 10px;
    background: #eee;
    padding-top: 8px;
    padding-bottom: 8px;
    float: left;
}

.sidenav .contact_link {
    color: darkblue;
    text-transform: uppercase;
    font-family: GrotleyRegular, Optima, monospace;
    width: inherit;
    text-align: center;
}

.sidenav .my_name {
    color: darkblue;
    text-transform: uppercase;
    font-family: GrotleyRegular, Optima, monospace;
    width: inherit;
    text-align: center;
    padding-top: 8px;
}

.sidenav a {
    display: flex;
    padding-top: 8px;
    text-decoration: none;
    color: darkblue;
    font-family: Optima, monospace;
}

.sidenav .sidenavlinks {
    padding-bottom: 8px;
}

.sidenav img {
    width: 180px;
    display: block;
}

.sidenav .svg_icon {
    display: flex;
    fill: currentColor;
    stroke: currentColor;
    height: 1em;
    width: 1em;
    vertical-align: -0.125em;
}

.sidenav .nav_icon {
    display: block;
}

.main_index_main {
    height: 100%;
    margin-left: 218px;
    background-color: white;
    position: absolute;
    overflow-y: auto;
}

.sidenav a span.media_content {
    display: block;
    visibility: normal;
    padding-left: 0.5em;
    line-height: 1.2em;
}

@media screen and ((max-width: 700px) or (max-height: 700px)) {

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.17em;
    }

    h3 {
        font-size: 1em;
    }

    p {
        font-size: .83em;
    }

    ul#navlist li a {
        font-size: 1.5em;
    }

    ul#navlist li:not(:last-child)::after {
        font-size: 1.0em;
        top: -0.2em;
    }

    .sidenav {
        width: 60px;
        z-index: 1;
        left: 10px;
        background: #eee;
        display: flex;
        flex-wrap: wrap;
        padding-top: 8px;
    }

    .sidenav .my_name {
        font-size: 0.5em;
        color: darkblue;
        width: inherit;
        text-transform: capitalize;
        font-family: Optima, monospace;
        text-align: center;
        padding-top: 8px;
    }

    .sidenav .contact_link {
        font-size: 0.5em;
        color: darkblue;
        width: inherit;
        text-transform: capitalize;
        font-family: Optima, monospace;
        text-align: center;
        padding-top: 8px;
    }

    hr.img_hr {
        display: none;
    }

    .sidenavlinks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sidenav .nav_icon {
        margin: .2em;
    }

    .sidenav .svg_holder {
        margin: .2em;
    }

    .sidenav a {
        text-decoration: none;
        display: flex;
        color: darkblue;
        font-family: GrotleyRegular, sans-serif, monospace;
        text-align: center;
        justify-content: center;
    }

    .sidenav a span.media_content {
        display: none;
    }

    .sidenav img {
        width: 60px;
        display: block;
    }

    .main_index_main {
        margin-left: 96px;
        /* Same width as the sidebar + left position in px */
        padding: 8px 8px 8px;
        background-color: white
    }
}

.sidenav a:hover {
    color: cornflowerblue;
}


/* style dropdowns (details + summary) */

summary {
    display: block;
}

details {
    padding-left: 1em;
}

summary + details {
    margin-top: 1em;
}

summary h3,
summary h4,
summary h5 {
    display: inline;
}

summary::after {
    margin-left: 1ch;
    display: inline-block;
    transition: 0.2s;
    content: '\203A';
    /* chevron */
    margin-bottom: 1em;
}

details[open] > summary::after {
    transform: rotate(90deg);
    margin-bottom: 0em;
}

/* style custom vocab */

.vocab {
    border-bottom: 1px dotted;
}

.non-eng {
    font-style: italic;
}

/* style popups */

.tooltip {
    background-position: 0 0;
    border: 1px solid black;
    background-color: lightgray;
}

/* style tables */

table {
    margin-top: 1em;
    margin-bottom: 1em;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

table.dashedSpaceV,
table.dashedSpaceV tr td:first-child {
    border-style: none none none none;
}

table.dashedSpaceV tr td:not(:first-child) {
    border-style: none none none none;
    margin-left: 0px;
    background-image: linear-gradient(to top, #f20afb 0%, #f20afb 50%, transparent 50%);
    background-size: 1px 8px;
    background-repeat: repeat-y;
}

table.dashedSpaceH,
table.dashedSpaceH tr td:first-child {
    height: 1px;
    background-image: linear-gradient(to right, #f20afb 0%, #f20afb 50%, transparent 50%);
    background-size: 8px 1px;
    background-repeat: repeat-x;
}

table.nested,
th.nested,
tr.nested,
td.nested {
    padding: 5px;
    border-style: none;
}

td.nested {
    border-collapse: collapse;
    border-style: none solid none none;
}

table.nested tr:first-child th,
table.nested tr:first-child td {
    border-top: 0;
}


table.nested tr:last-child td {
    border-bottom: 0;
}


table.nested tr td:first-child,
table.nested tr th:first-child {
    border-left: 0;
}

table.nested tr td:last-child,
table.nested tr th:last-child {
    border-right: 0;
    border-left: 0;

}

table.nested tr td:last-child td,
table.nested tr th:last-child td {
    border-right: 0;

}
