:root {
  --title-text-size: 24;
}

div#navlist_div {
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
    text-align: center;
}

ul#navlist {
    margin: 0;
    padding: 0;

}

ul#navlist li {
    display: inline-block;
}

ul#navlist li a {
    color: darkblue;
    text-transform: uppercase;
    text-decoration: none;
}

ul#navlist li:not(:last-child)::after {
    color: darkblue;
    font-family: Georgia;
    content: "\2039\203A";
    letter-spacing: -0.25em;
    margin-right: 0.25em;
    margin-left: 0.25em;
}

svg {
    width: 1em;
    height: 1em;
}