/* fonts for devanagari */

@font-face {
    font-family: Annapurna;
    src: url('AnnapurnaSIL-Regular.ttf'');
    src: url('AnnapurnaSIL-Regular.ttf') format('truetype');
    unicode-range: U+0900-097F, U+A8E0-A8FB, U+A830-A839;
    font-style: normal;
}

@font-face {
    font-family: AnnapurnaBold;
    src: url('AnnapurnaSIL-Regular.ttf');
    src: url('AnnapurnaSIL-Regular.ttf') format('truetype');
    unicode-range: U+0900-097F, U+A8E0-A8FB, U+A830-A839;
    font-style: bold;
}

@font-face {
    font-family: OptExt;
    src: url('Opt_ext.otf');
    src: url('Opt_ext.otf') format('opentype');
}

/* add language fonts to text stylings */

body {
    font-family: Annapurna, Optima, OptExt, sans-serif, monospace;
}

p,
input,
select,
button,
option {
    font-family: Annapurna, Optima, OptExt, monospace;
}

b {
    font-family: AnnapurnaBold, Optima, OptExt, monospace;
    font-style: bold;
}

strong {
    font-family: AnnapurnaBold, Optima, OptExt, monospace;
    font-style: bold;
}

.alt_glyph {
    font-family: Annapurna;
    font-feature-settings: "ss01" 1, "ss15" 1;
}

.parse_verbs_form input,
.parse_verbs_form select {
    font-size: 1.5em;
}

#verb_choice_out {
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
    color: gray;
    border: none;
    border-collapse: collapse;
}

#verb_choice_out td {
    justify-content: center;
    text-align: center;
    border-top: 1px dotted gray;
    border-bottom: 1px dotted gray;
    border-left: none;
    border-right: none;
}

#verb_choice_out div {
    display: inline-block;
}

#verb_choice_out td.verb_table_space {
    width: 2em;
    border: none;
}

#verb_choice_out div.pronoun_marker {
    width: 2em;
    color: darkslategray;
}

#verb_choice_out div.parseme {
    min-width: 2em;
    color: darkblue;
}

@keyframes flash_orange {
    0% {
        color: orange;
    }
}

.text_updated {
    animation: flash_orange 4s forwards;
}
